@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}


@layer base {
  :root {
        --radius: 0.5rem;
    }
}
/* Tailwind CSS classes can be used directly, but here's some custom CSS for additional styling */

body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #333;
}
